[display-mode=light] {
  --backgroundColor: #fafafa;
  --textColor: #999;
  --lineColor: #ccc;
  --accentColor: #8df;
  --accentContrastColor: #333;
  --inputColor: #fff;
  --buttonShadowColor: #{rgba(#000, .15)};
}
