.index-page {
  .game-options {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    .game-option {
      width: 150px;
    }
  }

  .join-game {
    display: flex;
    flex-direction: column;
  }

  .button {
    margin-top: 10px;
  }

  .or {
    font-size: 20px;
    margin: 0 50px;
  }

  .create-game-button {
    width: 100%;
  }
}
