.index-page {
  .game-options {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    .game-option {
      width: 150px;
    }
  }

  .join-game {
    display: flex;
    flex-direction: column;
  }

  .room-code {
    box-sizing: border-box;
    font-size: 24px;
    padding: 10px 20px;
    text-align: center;
    border-radius: var(--borderRadius);
    border: 1px solid var(--lineColor);
    background-color: var(--inputColor);
    text-transform: uppercase;

    &:focus {
      outline-color: var(--lineColor);
    }
  }

  .button {
    margin-top: 10px;
  }

  .or {
    font-size: 20px;
    margin: 0 50px;
  }

  .create-game-button {
    width: 100%;
  }
}
